#header {
    background: #444;
}
.dashboard #content {
    width: 98%;
    margin-top: 0;
    padding-top: 0;
}
#billboard {
    border: 15px solid #444;
    
    border-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 940px;
    background: #fff;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px 10px 10px;
}
#billboard-message{
    display: none;
}

.billboard-pane{
    float: left;
    height: 140px;
    padding: 0 10px 10px;
    width: 290px;
}
.billboard-content {
    height: 120px;
    overflow-y: auto;
}
.billboard-content .msg-item {
    margin-bottom: 10px;
    margin-left: 5px;
    cursor: pointer;
}
.billboard-content .msg-item:hover {
    text-decoration: none;
    color: #00f;
}
.billboard-content .msg-body {display: none}
#billboard-i,
#billboard-p {
    border-right: 5px solid #ccc;
}

.billboard-clean {
    clear: both;
}

.module {
    display: none;
}