body{
    background:#fff url(../images/bg_002.jpg) no-repeat fixed;
}
body.login {
    background:#eee url(../images/login_002.jpg) no-repeat fixed;
}
.login #container {
    background: none repeat scroll 0 0 white;
    border: 15px solid #333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    min-width: 300px;
    width: 600px;
}
#content h1 {
    background: #efefef;
}
.login #content h1 {
    background: none;
    text-align: center;
    color: #333;
    font-size: 24px;
}
.login #content p.loginmsg{
    text-align: center;
}
.loginform-rows,
.loginform-submit{
    border: 0;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background: #666;
}
.login .form-row {
    float: left;
    padding: 6px 0;
    width: 100%;
}
.loginform-rows .top-line{
    border-top: 1px solid #999;
}
.loginform-rows .bottom-line{
    border-bottom: 1px solid #333;
}
.login .form-row label {
    color: #fff;
    float: left;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 2em;
    padding-left: 1em;
    text-align: left;
    width: 9em;
}
.login .form-row #id_username, .login .form-row #id_password {
    width: 265px;
    border-radius: 5px;
}
.login-clear{
    clear: both;
}
.loginform-submit{
    background: #fff;
    text-align: right;
}
.login .submit-row {
    clear: both;
    padding: 0;
    margin: 4px;
}
input[type="submit"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #0074CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}

